body {
  margin: 0;
  /* background: #fff url("https://cdn.shopify.com/s/files/1/0015/9524/4610/products/SNA31Boxer40x50WebsiteReady_grande.jpg?v=1616439700") center center/auto no-repeat content-box; */
  background: #ecf7e8 ;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
