.landingCss{
  background: #fff ;
  opacity: 0.4;
}
.landingCss:hover{
    opacity: 0.85;
}


  /* ------ */


  .button {
    display: inline-block;
    border: none;
    background-color: #6b705c;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50%;
  }
  
  .button:hover {
    background-color: #a0e61d;
    transform: translateY(-5px);
    color: black;
  }
  
  .button:active {
    background-color: #e9f00d;
  }
